<a href="https://colab.research.google.com/github/kiranmohan3236/Python_lib_questions-/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [4]:
#4
import numpy as np

original_array = np.arange(1,11)

even_numbers = original_array[original_array % 2 == 0]
odd_numbers = original_array[original_array % 2 != 0]

stacked_array = np.vstack((even_numbers, odd_numbers))

print("Vertically stacked array")
print(stacked_array)

print('Shape of the resultant array: ', stacked_array.shape)

Vertically stacked array
[[ 2  4  6  8 10]
 [ 1  3  5  7  9]]
Shape of the resultant array:  (2, 5)

In [3]:
#3
import numpy as np

original_array = np.arange(1,11)

even_numbers = original_array[original_array % 2 == 0]
odd_numbers = original_array[original_array % 2 != 0]

stacked_array = np.vstack((even_numbers, odd_numbers))

last_two_columns_mean = np.mean(stacked_array[:, -2:])

print("Vertically stacked array")
print(stacked_array)

print('Mean of the last two columns: ', last_two_columns_mean)

Vertically stacked array
[[ 2  4  6  8 10]
 [ 1  3  5  7  9]]
Mean of the last two columns:  8.5

In [2]:
#1
import numpy as np

original_array = np.arange(10)

even_numbers = original_array[original_array % 2 == 0]
odd_numbers = original_array[original_array % 2 != 0]

horizontal_stacked_array = np.hstack((even_numbers, odd_numbers))

reshaped_array = horizontal_stacked_array.reshape(2,5)

mean_first_row = np.mean(reshaped_array[0, :])

print("Reshaped_array:")
print(reshaped_array)


print("Mean of the first row:",mean_first_row)

Reshaped_array:
[[0 2 4 6 8]
 [1 3 5 7 9]]
Mean of the first row: 4.0

In [5]:
#5

import numpy as np

# Step 1: Create an array from 1 to 20
original_array = np.arange(1, 21)

# Step 2: Square even numbers and leave odd numbers unchanged
squared_array = np.where(original_array % 2 == 0, original_array ** 2, original_array)

# Step 3: Reshape the array to 10 rows and 2 columns
reshaped_array = squared_array.reshape(10, 2)

# Step 4: Find the sum of the last column
sum_last_column = np.sum(reshaped_array[:, -1])

# Display the reshaped array
print("Reshaped array:")
print(reshaped_array)

# Display the sum of the last column
print("Sum of the last column:", sum_last_column)

Reshaped array:
[[  1   4]
 [  3  16]
 [  5  36]
 [  7  64]
 [  9 100]
 [ 11 144]
 [ 13 196]
 [ 15 256]
 [ 17 324]
 [ 19 400]]
Sum of the last column: 1540

In [8]:
#6
import numpy as np

# Step 1: Create an array from 1 to 99
original_array = np.arange(1, 100)

# Step 2: Reshape the array to 3 rows and 33 columns
reshaped_array = original_array.reshape(3, 33)

# Step 3: Split the reshaped array vertically into three equal parts
split_parts = np.vsplit(reshaped_array, 3)

# Calculate the sum of each part
sum_of_each_part = [np.sum(part) for part in split_parts]

# Display the reshaped array
print("Reshaped array:")
print(reshaped_array)

# Display the sum of each part
print("Sum of each part:", sum_of_each_part)

Reshaped array:
[[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
  25 26 27 28 29 30 31 32 33]
 [34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57
  58 59 60 61 62 63 64 65 66]
 [67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90
  91 92 93 94 95 96 97 98 99]]
Sum of each part: [561, 1650, 2739]

In [9]:
#7
import pandas as pd
link = "https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/033/327/original/flights.csv?1683012330"
df = pd.read_csv(link)

In [10]:
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [12]:
#import pandas as pd

# Assuming you have the data in a DataFrame, replace this with your actual DataFrame
#data = {'year': [1949, 1949, 1949, 1949, 1949],
        #'month': ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
        #'passengers': [112, 118, 132, 129, 121]}


import pandas as pd
link = "https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/033/327/original/flights.csv?1683012330"
df = pd.read_csv(link)

#df = pd.DataFrame(data)

# Find the row with the highest number of passengers
max_passengers_row = df[df['passengers'] == df['passengers'].max()]

# Extract the year and month with the highest passengers
highest_year = max_passengers_row['year'].values[0]
highest_month = max_passengers_row['month'].values[0]

# Display the result
print(f"Highest passengers: Year {highest_year}, Month {highest_month}")

Highest passengers: Year 1960, Month Jul

In [13]:
#8

#import pandas as pd

# Assuming you have the 'tips' dataset loaded into a DataFrame, replace this with your actual DataFrame
#data = {'total_bill': [16.99, 10.34, 21.01, 23.68, 24.59],
        #'tip': [1.01, 1.66, 3.50, 3.31, 3.61],
        #'sex': ['Female', 'Male', 'Male', 'Male', 'Female'],
        #'smoker': ['No', 'No', 'No', 'No', 'No'],
       # 'day': ['Sun', 'Sun', 'Sun', 'Sun', 'Sun'],
       # 'time': ['Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner'],
       # 'size': [2, 3, 3, 2, 4]}

#df = pd.DataFrame(data)

import seaborn as sns
df = sns.load_dataset('tips')

# Filter rows where total bill is greater than 20 and tip is greater than 4
filtered_rows = df[(df['total_bill'] > 20) & (df['tip'] > 4)]

# Get the number of rows meeting the condition
num_rows = len(filtered_rows)

# Display the result
print(f"Number of rows with total bill > 20 and tip > 4: {num_rows}")

Number of rows with total bill > 20 and tip > 4: 37

In [17]:
#2

# Assuming you have the dataset loaded into a DataFrame, replace this with your actual DataFrame
#data = {'total_bill': [16.99, 10.34, 21.01, 23.68, 24.59],
       # 'tip': [1.01, 1.66, 3.50, 3.31, 3.61],
        #'sex': ['Female', 'Male', 'Male', 'Male', 'Female'],
      #  'smoker': ['No', 'No', 'No', 'No', 'No'],
       # 'day': ['Sun', 'Sun', 'Sun', 'Sun', 'Sun'],
    #    'time': ['Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner'],
      #  'size': [2, 3, 3, 2, 4]}

#df = pd.DataFrame(data)

import seaborn as sns
df=sns.load_dataset('tips')

# Calculate the range in which the maximum number of total bills occur
max_total_bill_range = pd.cut(df['total_bill'], bins=10).mode().iloc[0]

# Display the result
print(f"Range with the maximum number of total bills: {max_total_bill_range}")

Range with the maximum number of total bills: (12.618, 17.392]